# reproducible
*.pdf
*.docx
!submissions/**/*.pdf
!submissions/**/*.docx
*figs/
*cache/

# latex
*.tex
!templates/*.tex
*.md
*.bbl
*.dvi
*.xwm
*.aux
*.blg
*.fdb_latexmk
*.fls
*.log
*.out

# R/RStudio
.Rhistory
.Rproj.user

# os
.DS_Store

# editor
*.swp
