*.pdf
*.docx
!submissions/**/*.pdf
!submissions/**/*.docx

# reproducible
figs/
.cache/

# latex
*.tex
!templates/*.tex
*.md
*.aux
*.bbl
*.blg
*.dvi
*.xwm
*.fdb_latexmk
*.fls
*.log

# R/RStudio
.Rhistory

# OS
.DS_Store

# editor
*.swp
