# reproducible
*.md
*.pdf
*.docx
!submissions/**/*.pdf
!submissions/**/*.docx
!comments/*.docx

# reproducible
figs/
*_cache/
*_files/

example-chains.zip

# latex
*.tex
!templates/*.tex
*.md
*.aux
*.bbl
*.blg
*.dvi
*.xwm
*.fdb_latexmk
*.fls
*.log

# R/RStudio
.Rhistory
.Rproj.user/
*.aux
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.ent

# submissions
!submissions/**/*.pdf
!submissions/**/*.docx
!submissions/**/*.md
!submissions/**/*.tex

# R/RStudio
.Rhistory
.Rproj.user
# os
.DS_Store

# editor
*.swp
~$*
